.es_image {
    padding: 1.5vw 0;
    max-width: 100vw;
    text-align: center;

    img {
        max-height: 90vh;
    }

    .caption {
        margin-top: -.8em;
        font-style: italic;
        font-size: 80%;
    }
}
