footer {
    background-color: $dark-accent-background;
    color: hsl(0, 0, 50%);
    padding: 1.2em 0;

    p {
        margin: .6em auto;
        text-align: center;
        font-size: 70%;
    }

    a {
        color: hsl(0, 0, 70%);
    }

    a:hover {
        color: hsl(0, 0, 100%);
        text-decoration: underline;
    }
}
