footer {
    color: hsl(0, 0, 50%);
    padding: 1.2em 0;

    p {
        margin: .6em auto;
        text-align: center;
        font-size: 70%;
    }

    a {
        color: hsl(0, 0, 70%);
    }
}
