header {
    background-color: $dark-accent-background;
    padding: 2em 0;

    .brand {
        margin-top: 1em;
        text-align: center;
    }

    .nav {
        margin: .6em auto;
        text-align: center;

        li {
            display: inline;
            margin: 0 .4em;
        }
    
        a {
            text-decoration: none;
        }
    }

    .parks .parks a, .map .map a, .about .about a {
        border-bottom: 2px solid white;
    }
}
