.map-page {
    #parks-map {
        margin-top: 3em;
        height: 75vh;

        .park-marker {
            color: black;

            a {
                color: black;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}
