.park {
    .title-assembly {
        display: flex;
        max-width: $preferred-text-width;
        margin: 3em auto 4em auto;
        color: white;

        .sequence-assembly {
            flex: none;
            position: relative;
            width: 99px;
            height: 64px;
        }

        .sequence {
            position: absolute;
            bottom: 4px;
            right: 2px;
            text-align: center;

            width: 64px;
            height: 64px;
            color: $dark-accent-background;
            font-family: interstate, sans-serif;
            font-size: 160%;
            font-weight: 700;
        }

        h1.title {
            line-height: 1;
        }

        .title-and-visited {
            margin-left: 1em;
            margin-top: .04em;
        }

        .name {
            color: white;
            font-family: interstate, sans-serif;
            font-size: 150%;
            font-weight: 700;
            padding-right: .15em;
        }

        .designator {
            color: white;
            opacity: 50%;
            font-family: interstate, sans-serif;
            font-size: 80%;
            font-weight: 400;
            line-height: 1.95;
            white-space: nowrap;
        }

        .near {
            color: white;
            opacity: 50%;
            margin-top: -1.5em;
            font-family: interstate, sans-serif;
            font-size: 80%;
            font-weight: 400;

            a {
                color: white !important;
            }
        }

        .visited {
            color: white;
            opacity: 50%;
            font-family: interstate, sans-serif;
            font-size: 80%;
            font-weight: 400;
        }
    }

    p:first-of-type {
        font-size: 120%;
        max-width: 28.3em; // 34em / 1.30
    }

    p, ul {
        max-width: $preferred-text-width;
        margin: 1.6em auto;
    }

    ul {
        margin: -1em auto;
    }

    ul li {
        margin: .25em 0 .25em 1.5em;
        list-style: disc;
    }

    #map {
        margin-top: 3em;
        height: 60vh;
    }

    .gpx-marker img {
        max-width: 210px;
        max-height: 210px;
    }
}
