.park-entry {
    position: relative;
    max-width: 1000px;
    margin: 2.5em auto;

    a:hover {
        text-decoration: none;
    }

    .park-link {
        flex: none;
        position: absolute;
        top: 0;
        width: 100% !important;
        padding: .5em .5em .8em .5em;
        background: linear-gradient( rgba(31, 26, 23, .7), 65%, rgba(31, 26, 23, 0));
    }

    .read-more {
        flex: none;
        position: absolute;
        bottom: .8em;
        right: .8em;

        a {
            font-family: interstate, sans-serif;
            font-size: 95%;
            font-weight: 700;
            color: white;
            opacity: 60%;
        }

        a:hover {
            opacity: 100%;
        }
    }

    .summary {
        flex: none;
        position: absolute;
        top: 0;
        width: 100%;
        max-height: 80%;
        opacity: 0;
        margin: 0 auto;
        padding: 1.5em 2em;
        overflow: hidden;
        text-overflow: ellipsis;

        .es_image {
            display: none;
        }
    }

    .summary:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.7), 80%, rgba(31, 26, 23, 0));
        opacity: 100%;

        a {
            color: white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .park-entry {
        margin: 1.5em auto;
    }
}
