$main-section-background: rgb(53, 45, 40);
$dark-accent-background: rgb(31, 26, 23);
$scheme-main: rgb(31, 26, 23);
$text: hsl(0, 0%, 100%);
$link: hsl(0, 0%, 70%);

$preferred-text-width: 34em;

$family-primary: adobe-caslon-pro, serif;
$body-font-size: 1.35em;
$body-line-height: 1.9;
