<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#352d28">
  <meta name="theme-color" content="#1f1a17">

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) | safe }}">
  {% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="/common/header-scroll.js"></script>

  <title>
    {% if page.title %}
      {{ page.title }} |
    {% endif %}
    146 Parks
  </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header id="header">
    <div class="brand">
      <a href="/"><img src="/common/146-parks.png" width="246" height="80"></a>
    </div>
    {% if current_path and current_path == "/" %}
      {% set current_section = "parks" %}
    {% elif current_path %}
      {% set current_section = current_path | as_str | split(pat="/") | nth(n=1) %}
    {% else %}
      {% set current_section = "404" %}
    {% endif %}
    <ul class="nav {{ current_section }}">
      <li class="parks"><a href="/">Blog</a></li>
      <li class="map"><a href="/map">Map</a></li>
    </ul>
  </header>
  <mini-header id="mini-header">
    <div class="sequence-assembly">
      <a href="#top"><img src="/common/wa-shape.png" alt="" width="49" height="32"></a>
      <div class="sequence"><a href="#top">{% if page.extra.seq %}{{ page.extra.seq }}{% endif %}</a></div>
    </div>
    {% if page.title %}
    <div class="title">
      <a href="#top">
      <span class="name">{{ page.title }}</span>
      <span class="designator">{% if page.extra.designator %}{{ page.extra.designator }}{% else %}State Park{% endif %}</span>
      </a>
    </div>
    {% endif %}
    </div>
  </mini-header>
  <section class="section root">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  <footer>
    <p>All text and photography copyright © 2020 – {{ now() | date(format="%Y") }}, <a href="https://ericscouten.com">Eric Scouten</a>, unless otherwise attributed.</p>

    <p>This is a personal project and not affiliated with the Washington State Parks and Recreation Commission in any way.</p>
  </footer>
</body>

</html>
