{% extends "base.html" %}

{% block content %}
<div class="map-page">
  {{ page.content | safe }}

  <p>Here’s one showing the location of the {{ page.extra.parks | length }} parks I <i>haven’t</i> yet visited and documented.</p>

  <div id="parks-map"></div>

  <p>Color guide:</p>

  <ul>
    <li>red - not visited yet</li>
    <li>purple - not visited yet, <i>open in summer only</i></li>
    <li>dark blue - not visited yet, <i>water access only</i></li>
    <li>light blue - not visited yet, <i>best visited in winter</i></li>
    <li>brown - not visited yet, <i>bike trail</i></li>
    <li>green - visited, but not blogged yet</li>
    <li>black - not visited yet, <i>closed for now</i></li>
  </ul>

  <script>
    let map;
    let markers = [];
    let previousWindow = false;

    function addParkMarker(map, title, lat, lon, link, fillColor) {
      const icon = {
        path: google.maps.SymbolPath.CIRCLE,
        fillColor: fillColor,
        fillOpacity: 1,
        scale: 6,
        strokeColor: 'white',
        strokeWeight: 1.5
      };

      const marker = new google.maps.Marker({
        position: { lat: lat, lng: lon },
        map,
        title: title,
        icon: icon,
      });

      const contentString =
        '<div class="park-marker">' +
          '<div class="park-title">' +
          '<a href="' + link + '">' +
          '<span class="name">' + title + '</span></a>' +
        '</div>';

      const infoWindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 276,
      });

      marker.addListener("click", () => {
        if (previousWindow) {
          previousWindow.close();
        }

        previousWindow = infoWindow;
        infoWindow.open(map, marker);
      });

      marker.addListener("mouseover", () => {
        if (previousWindow) {
          previousWindow.close();
        }

        previousWindow = infoWindow;
        infoWindow.open(map, marker);
      });

      markers.push(marker);
    }

    function initMap() {
      const map = new google.maps.Map(document.getElementById("parks-map"), {
        mapTypeId: "terrain",
      });

      map.setOptions('TERRAIN');

      const bounds = new google.maps.LatLngBounds();
      bounds.extend(new google.maps.LatLng(45.544, -124.673));
      bounds.extend(new google.maps.LatLng(49.003, -116.916));

      map.fitBounds(bounds);

      {% for park in page.extra.parks -%}
        {% set color = "red" -%}
        {% if park.summer_only -%}
          {% set color = "purple" -%}
        {% endif -%}
        {% if park.winter_rec -%}
          {% set color = "#00ccff" -%}
        {% endif -%}
        {% if park.trail -%}
          {% set color = "#663300" -%}
        {% endif -%}
        {% if park.water_only -%}
          {% set color = "blue" -%}
        {% endif -%}
        {% if park.visited -%}
          {% set color = "#006600" -%}
        {% endif -%}
        {% if park.closed -%}
          {% set color = "black" -%}
        {% endif -%}
        addParkMarker(map,
          "{{ park.name }}",
          {{ park.lat }},
          {{ park.lon }},
          "{{ park.link | safe }}",
          "{{ color | safe }}");
      {% endfor %}

    }
    
  </script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key={{ get_env(name="GOOGLE_API_KEY", default="none") }}&callback=initMap&libraries=&v=weekly"
  async>
  </script>
</div>
{% endblock content %}
