{% extends "base.html" -%}

{% block content -%}
<div class="logo">
  <p>
    <a href="/"><img src="/common/146-parks.png" width="246" height="80"></a>
  </p>
</div>

<div class="welcome">
{{ section.content | safe }}
</div>

{% set todo = get_page(path="todo.md") | get(key = "extra") | get(key = "parks") | filter(attribute = "seq") | sort(attribute = "seq") -%}
{% if todo | length > 0 -%}
<div class="coming-soon">
<h2>Coming Soon!</h2>
<p>I have visited the following park{{ todo | length | pluralize }}, but not yet published articles about them:</p>
<ul class="todo-parks">
  {% for todo_park in todo -%}
  <li><span class="name">{{ todo_park.name }}</span> <span class="seq">({{todo_park.seq}})</seq></li>
  {% endfor -%}
</ul>
<div class="current">Current as of {{ now() | date(format = "%e %B %Y", timezone = "America/Los_Angeles") | safe }}.</div>
</div>
{% endif -%}

<div class="parks-list">
{% set parks = get_section(path="_index.md") -%}
{% for page in parks.pages | filter(attribute="extra.seq") | reverse -%}
  <div class="park-entry">
    <div class="park-link">
      <div class="sequence-assembly">
        <a href="{{ page.permalink | safe }}"><img src="/common/wa-shape.png" alt="" width="49" height="32"></a>
        <div class="sequence"><a href="{{ page.permalink | safe }}">{% if page.extra.seq -%}{{ page.extra.seq }}{% endif -%}</a></div>
      </div>
      {% if page.title -%}
      <div class="title">
        <a href="{{ page.permalink | safe }}">
        <span class="name">{{ page.title }}</span>
        <span class="designator">{% if page.extra.designator -%}{{ page.extra.designator }}{% else -%}State Park{% endif -%}</span>
        </a>
      </div>
      {% endif -%}
    </div>
    <div class="cover">
      <a href="{{ page.permalink | safe }}">
        {%- if page.extra.cover_cdn_key -%}
          <img src="https://img.ericscouten.com/{{ page.extra.cover_cdn_key | safe}}/cover-{{ page.extra.cover | safe}}-1000w.jpg" width="1000" height="562">
        {%- else -%}
          <img src="{{ page.permalink | safe }}/cover-{{ page.extra.cover | safe}}.jpg" width="1000" height="562">
        {%- endif -%}
      </a>
    </div>
    <div class="read-more">
      <a href="{{ page.permalink | safe }}">read more
        <img src="/common/arrow-r.png" alt="" width="16" height="16">
      </a>
    </div>
    {% if page.summary -%}
    <div class="summary">
      <a href="{{ page.permalink | safe }}">{{ page.summary | safe }}</a>
    </div>
    {% endif -%}
  </div>
{% endfor -%}
</div>
{% endblock content -%}
