{% extends "base.html" %}

{% block content %}
<div class="park">
  <div class="title-assembly">
    <div class="sequence-assembly">
      <img src="/wa-shape.png" alt="" width="99" height="64">
      <div class="sequence">{{ page.extra.seq }}</div>
    </div>
    <div class="title-and-visited">
      <h1 class="title">
        <span class="name">{{ page.title }}</span>
        <span class="designator">{% if page.extra.designator %}{{ page.extra.designator }}{% else %}State Park{% endif %}</span>
      </h1>
      <div class="near">
        <a href="#map">{{ page.extra.near }}, Washington</a>
      </div>
      <div class="visited">
        Visited {% if page.extra.visited %}
          {{ page.extra.visited }}
        {% else %}
          {{ page.date | date(format="%e %B %Y") }}
        {% endif %}
      </div>
    </div>
  </div>
  {{ page.content | safe }}
  <div id="map"></div>
  <script>
    let map;

    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: { lat: {{ page.extra.lat }}, lng: {{ page.extra.lon }} },
        // mapTypeId: "terrain",
      });

      // map.setOptions('TERRAIN');

      const ctaLayer = new google.maps.KmlLayer({
        url: "https://googlearchive.github.io/js-v2-samples/ggeoxml/cta.kml",
        map: map,
      });

      const marker = new google.maps.Marker({
        position: { lat: {{ page.extra.lat }}, lng: {{ page.extra.lon }} },
        map: map,
      });

      // {% if page.extra.track %}
      // var kmlLayer = new google.maps.KmlLayer({
      //   url: '{{ current_url | safe }}{{ page.extra.track }}',
      //   map: map
      // });
      // {% endif %}
    }
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdpExDX7tY55VADRaMvxRv7PISFt67sSU&callback=initMap&libraries=&v=weekly"
    async>
  </script>
</div>
{% endblock content %}
