{% extends "base.html" %}

{% block content %}
<div class="welcome">
<p><b>Hi, I’m Eric.</b> I’m a photographer and software developer living near Seattle, Washington.</p>

<p>I enjoy traveling worldwide and often blog about my travels on my main site, <a href="https://ericscouten.com">ericscouten.com</a>.</p>

<p><b>146 Parks</b> is a photography and blogging project designed for these times when we need to stay closer to home. By my count, my home state of Washington has 146 state parks. I intend to visit, enjoy, and document them all.</p>

<p>I hope you enjoy following along.</p>
</div>

<div class="parks-list">
  {% for page in section.pages | reverse %}
  <div class="park-entry">
    <div class="park-link">
      <div class="sequence-assembly">
        <a href="{{ page.permalink | safe }}"><img src="/common/wa-shape.png" alt="" width="49" height="32"></a>
        <div class="sequence"><a href="{{ page.permalink | safe }}">{% if page.extra.seq %}{{ page.extra.seq }}{% endif %}</a></div>
      </div>
      {% if page.title %}
      <div class="title">
        <a href="{{ page.permalink | safe }}">
        <span class="name">{{ page.title }}</span>
        <span class="designator">{% if page.extra.designator %}{{ page.extra.designator }}{% else %}State Park{% endif %}</span>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="cover">
      <a href="{{ page.permalink | safe }}">
        <img src="{{ page.permalink | safe }}/cover-{{ page.extra.feature | safe}}.jpg" width="1000" height="562">
      </a>
    </div>
</div>
  {% endfor %}
</div>
{% endblock content %}
